<div class="card">
                        
                        <form id="profile-form-style" class="form new-post-form">
                            <h1>Create a new post</h1>
                            <input class="post-title" id="post-name" type="text"  value="{{post_title}}" />
                            <textarea class="post-content" id="post-desc" type="text" >{{post_content}}</textarea>
                            <button type="submit" data-id="{{id}}" id="update-post">Update post</button>
                                                        <button  data-id="{{id}}" id="delete-post">Delete post</button>

                        </form>    
</div>


{{!-- <script type="text/javascript" src="../js/editPost.js"></script> --}}
