<div class="card">
                        
                        <form id="profile-form-style" class="form new-post-form">
                            <h1>Create a new post</h1>
                            <input class="post-title" id="post-name" type="text" placeholder="Post name" value="{{post.title}}" />
                            <textarea class="post-content" id="post-desc" type="text" placeholder="What do you want to post?">{{post.post_content}}</textarea>
                            <button type="submit" id="update-post">Update post</button>
                        </form>    
</div>



