<div class="title">

      <div class="title">
            <p class="mono-font">TECH BLOG</p>
     </div>

      <p>Check out the latest tech posts or get posting yourself! </p>
            <p>Go and log in or sign up to post and interact with other posts 💻</p>

</div>

        <div class="card-container">
            
                {{#each posts as |post|}}
                {{> post-item}} 
                 {{/each}}      
        </div>

<script type="text/javascript" src="../js/index.js"></script>
<script src="../js/comment.js"></script>
