<div class="title">

      <div class="title">
            <p class="mono-font">TECH BLOG</p>
     </div>

</div>

        <div class="card-container">
            
                {{#each posts as |post|}}
                {{> post-item}} 
                 {{/each}}      
        </div>

<script type="text/javascript" src="../js/index.js"></script>
